/*
	CSS Customizations
*/

#header header h1 {
	margin: 2em;
	font-size: 2em;
	text-transform: none;
}

#header header h1:after {
	content: none;
}

.content p iframe {
	width: calc(100% - 10px);
}

html {
	background-image: none;
}

@media screen and (max-width: 980px) {
	#header header img {
		width: 700px;
	}
}

@media screen and (max-width: 736px) {
	#header header img {
		width: 400px;
	}
}

@media screen and (max-width: 480px) {
	#header header img {
		width: 300px;
	}
}
