{{ "<!-- header -->" | safeHTML}}
<section id="header">
  <header class="major 1">
    <span class="image primary"><img src="images/wirfuerapolda.png" alt="" /></span>
    <h1>Alle Informationen zur Organisation der Veranstaltung:<br /> #wirfürapolda - Kein Ort für Nazis!<br />am 5.+6. Oktober</h1>
  </header>
  <div class="container">
    <ul class="actions">
      {{ if .next }}
        <li><a href="#{{.next.id}}" class="button special scrolly">{{ with .block.buttontext }}{{ . | markdownify }}{{ end }}</a></li>
      {{ end }}
    </ul>
  </div>
</section>
